.contact{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.contact-profile{
    display: flex;
    align-items: center;
}
.contact-info{
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #5a5a5a;
}
.user{
    font-size:14px;
    margin-right: 10px;
    background-color: #eec0c0;
    padding: 5px;
    border-radius: 50%;
}
.trash{
    font-size: 14px;
    color: red;
    cursor: pointer;

}
.call{
    font-size: 14px;
    color: green;
    cursor: pointer;
    margin-right:10px;
}
.edit{
    font-size: 14px;
    color: blue;
    cursor: pointer;
    margin-right:10px;
}